@import "../../Sass/mixin";
@import "../../Sass/variables";

// ************************Forget Popup *********************************
.forget-popup {
  position: absolute;
  width: 318px;
  height: 72px;
  left: 158px;
  top: 495px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bff2fe;
  border-radius: 8px;
  @include respond(phone) {
    top: 300px;
    left: 82px;
  }
  & > p {
    width: 80%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 19px;
    text-align: center;
    color: #8a8a8a;
  }
}

// ************************Forget Container *********************************

.forget-container {
  width: 100%;
  height: auto;
  padding: 5.5rem 0rem;
  background-color: white;
  //   background-color: red;
  &-content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 2.5em 0rem;
    // background-color: peachpuff;
    &-left {
      width: 50%;
      height: auto;
      padding: 0.5rem 0rem;
      //   background-color: rgba(137, 43, 226, 0.443);
      @include respond(phone) {
        width: 100%;
      }
      & > h1 {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 2.9rem;
        line-height: 35px;
        text-align: center;
        color: $lightnevi;
      }
      & > p {
        margin-top: 15px;
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 19px;
        color: #8a8a8a;
      }
      &-innercontainer {
        margin: auto;
        margin-top: 50px;
        width: 350px;
        height: 350px;
        display: flex;
        align-items: center;
        background: #bff2fec2;
        border-radius: 8px;
        &-content {
          width: 80%;
          height: auto;
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0.5rem 0rem;
          //   background-color: lawngreen;
          & > h1 {
            font-weight: 600;
            font-size: 2rem;
            line-height: 24px;
            color: $skyshede;
          }
          & > img {
            margin-top: 12px;
          }
          & > p {
            width: 80%;
            margin-top: 21px;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 19px;
            text-align: center;
            color: #8a8a8a;
          }
          &-inputfield {
            width: 95%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
            // padding: 0.5rem 0rem;
            // background-color: lightcoral;
            & > *:not(:first-child) {
              margin-left: 13px;
            }
            & > input {
              width: 30px;
              height: 30px;
              padding: 1rem;
              background: #ffffff;
              border: 1px solid #4edafc;
              border-radius: 5px;
              &:focus {
                outline: none;
              }
            }
          }
          & > button {
            width: 257px;
            height: 42.35px;
            margin-top: 27px;
            background: #4edafc;
            border-radius: 9.675px;
            border: none;
            font-weight: 800;
            font-size: 19.35px;
            line-height: 23px;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
    &-right {
      width: 50%;
      height: 829px;
      border: none;
      border-radius: 0.3rem;
      //   background-color: pink;
      background-image: url("../../assets/signupAssets/rightimg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include respond(phone) {
        display: none;
      }
    }
  }
}
