@import "../../../Sass/mixin";
@import "../../../Sass/variables";

.inputfield {
  width: 100%;
  height: auto;
  padding: 0.5rem 0rem;
  // background-color: pink;
  &-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    & > label {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 15px;
      // text-align: center;
      color: #2b4465;
    }
    & > input {
      margin-top: 0.5rem;
      background: none;
      border: none;
      padding: 11px 0px;
      border-bottom: 2px solid #2b4465;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 13px;
        color: #667b96;
      }
    }
  }
}
